<p id="notice"><%= notice %></p>

<h1>Listing Augmentaion Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Rank</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @augmentaion_contacts.each do |augmentaion_contact| %>
      <tr>
        <td><%= augmentaion_contact.position %></td>
        <td><%= augmentaion_contact.last_name %></td>
        <td><%= augmentaion_contact.first_name %></td>
        <td><%= augmentaion_contact.rank %></td>
        <td><%= augmentaion_contact.phone %></td>
        <td><%= link_to 'Show', augmentaion_contact %></td>
        <td><%= link_to 'Edit', edit_augmentaion_contact_path(augmentaion_contact) %></td>
        <td><%= link_to 'Destroy', augmentaion_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Augmentaion contact', new_augmentaion_contact_path %>
