<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @augmentaion_contact.position %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @augmentaion_contact.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @augmentaion_contact.first_name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @augmentaion_contact.rank %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @augmentaion_contact.phone %>
</p>

<%= link_to 'Edit', edit_augmentaion_contact_path(@augmentaion_contact) %> |
<%= link_to 'Back', augmentaion_contacts_path %>
