<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
            <% if current_user %>
                <h5 id="welcome">Welcome, <%=current_user.first_name%>!</h5>
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%=%></strong>
                            </span> <span class="text-muted text-xs block"> menu <b class="caret"></b></span>
                        </span>
                    </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                        </ul>
                </div>
                <div class="logo-element">

                </div>
            </li>

            <li class="<%= 'active' if current_page?('/calendars') %>">
                <%= link_to "/calendars" do %>
                <!-- Calendar icon by Icons8 -->
                <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Time_And_Date/calendar-25.png" title="Calendar" width="20"> <span class="nav-label">Calendar</span>
                <% end %>
            </li>

            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <img class="plt" src="https://maxcdn.icons8.com/iOS7/PNG/25/Sports/centre_of_gravity_filled-25.png" title="Centre of Gravity Filled" width="20"> <span class="nav-label">Home page</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/maintenancePlt') %>">
                <%= link_to "/home/maintenancePlt" do %>
                <img class="plt" src="https://maxcdn.icons8.com/iOS7/PNG/25/Business/maintenance-25.png" title="Maintenance" width="20"> <span class="nav-label">Maintenance PLT</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/augmentationPlt') %>">
                <%= link_to "/home/augmentationPlt" do %>
                <img class="plt" src="https://maxcdn.icons8.com/iOS7/PNG/25/Military/self_destruct_button-25.png" title="Self-Destruct Button" width="20"><span class="nav-label">Augmentation PLT</span>
                <% end %>
            </li>

            <li class="<%= 'active' if current_page?('/home/engineerPlt') %>">
                <%= link_to "/home/engineerPlt" do %>
                <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Military/explosion_filled-25.png" title="Explosion Filled" width="20"> <span class="nav-label">Engineer PLT</span>
                <% end %>
            </li>

            <li class="<%= 'active' if current_page?('/home/supportPlt') %>">
                <%= link_to "/home/supportPlt" do %>
                <img class="plt" src="https://maxcdn.icons8.com/iOS7/PNG/25/Military/dog_tag-25.png" title="Dog Tag" width="20"> <span class="nav-label">Support PLT</span>
                <% end %>
            </li>

            <% end %>
        </ul>

    </div>
</nav>
